body	{

		background-color: rgb(226, 226, 226);

}


.row {
    display: flex;
}

.column {
    flex: 50%;
}


h1		{

		color: 			black;
		text-align: 	center;
		font-style:		bold;
		font-family: 	"Arial";

}


h2		{

		columns: 		
		color:			black;
		text-align: 	center;
		font-family: 	"Arial";

}


p		{

		columns: 		
		font-family:	"Arial";
		font-size:		25px;

}


img		{

		border-style: 	solid;
		border-width: 	2px;
		float: 			left;
		margin:			5px;

}


img#rechts	{

		float: 			right;

}